<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/bootstrap.min.css">
    <link rel="stylesheet" href="/static/stylesheet.css">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
<script src="/static/bootstrap.bundle.min.js"></script>
<header>
    <nav class="navbar navbar-expand-lg bg-body-tertiary ">
        <div class="container-sm container-fluid">
            <a class="navbar-brand theNeue" href="/">Secure Company Inc.</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="navbar-nav">
                    {% if user %}
                    <li class="nav-item">
                        <a class="nav-link" href="/users">Users</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/purchase_orders">Purchase Orders</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            {{ user.first_name }} {{ user.last_name }}
                        </a>
                        <ul class="dropdown-menu">
                            <li><span class="dropdown-item disabled">{{ user.role }}</span></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="/private_key">Download Private Key</a></li>
                            <li><a class="dropdown-item" href="/logout">Logout</a></li>
                        </ul>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="/login">Login</a>
                    </li>
                    {% endif %}

                </ul>
            </div>
        </div>
    </nav>
</header>
<main>
    {% block content %}
    {% endblock %}
</main>
</body>
</html>