{% extends "base.html" %}

{% block title %} {{ title }} {% endblock %}

{% block content %}
<div class="container mt-4">
    <h2>Purchase Order Summary</h2>
    <p><strong>Date Requested:</strong> {{ data.readable_timestamp }}</p>
    <p><strong>Requested by:</strong> {{ data.sender_name }}</p>
    <p><strong>Sent to:</strong> {{ data.recipient_name }}</p>
    {% if status == true %}
    <p><strong>Date Reviewed:</strong> {{ reviewed_timestamp }}</p>
    <p><strong>Status:</strong> <span class="text-success">Accepted</span></p>
    {% elif status == false %}
    <p><strong>Date Reviewed:</strong> {{ reviewed_timestamp }}</p>
    <p><strong>Status:</strong> <span class="text-danger">Rejected</span></p>
    {% endif %}

    <div class="d-flex flex-row justify-content-start align-content-center">
        {% if status == none %}
        {% if valid_sender_signature == true %}
        <div class="alert alert-success me-1" role="alert">
            <svg clip-rule="evenodd" fill-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="2"
                 viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path d="m2.25 12.321 7.27 6.491c.143.127.321.19.499.19.206 0 .41-.084.559-.249l11.23-12.501c.129-.143.192-.321.192-.5 0-.419-.338-.75-.749-.75-.206 0-.411.084-.559.249l-10.731 11.945-6.711-5.994c-.144-.127-.322-.19-.5-.19-.417 0-.75.336-.75.749 0 .206.084.412.25.56"
                      fill-rule="nonzero"/>
            </svg>
            Sender Signature Verified
        </div>
        {% else %}
        <div class="alert alert-danger me-1" role="alert">
            <svg clip-rule="evenodd" fill-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="2"
                 viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path d="m12 10.93 5.719-5.72c.146-.146.339-.219.531-.219.404 0 .75.324.75.749 0 .193-.073.385-.219.532l-5.72 5.719 5.719 5.719c.147.147.22.339.22.531 0 .427-.349.75-.75.75-.192 0-.385-.073-.531-.219l-5.719-5.719-5.719 5.719c-.146.146-.339.219-.531.219-.401 0-.75-.323-.75-.75 0-.192.073-.384.22-.531l5.719-5.719-5.72-5.719c-.146-.147-.219-.339-.219-.532 0-.425.346-.749.75-.749.192 0 .385.073.531.219z"/>
            </svg>
            Sender Signature Failed Verification
        </div>
        {% endif %}
        {% else %}
        {% if valid_supervisor_signature == true %}
        <div class="alert alert-success me-1" role="alert">
            <svg clip-rule="evenodd" fill-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="2"
                 viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path d="m2.25 12.321 7.27 6.491c.143.127.321.19.499.19.206 0 .41-.084.559-.249l11.23-12.501c.129-.143.192-.321.192-.5 0-.419-.338-.75-.749-.75-.206 0-.411.084-.559.249l-10.731 11.945-6.711-5.994c-.144-.127-.322-.19-.5-.19-.417 0-.75.336-.75.749 0 .206.084.412.25.56"
                      fill-rule="nonzero"/>
            </svg>
            Supervisor Signature Verified
        </div>
        {% else %}
        <div class="alert alert-danger me-1" role="alert">
            <svg clip-rule="evenodd" fill-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="2"
                 viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path d="m12 10.93 5.719-5.72c.146-.146.339-.219.531-.219.404 0 .75.324.75.749 0 .193-.073.385-.219.532l-5.72 5.719 5.719 5.719c.147.147.22.339.22.531 0 .427-.349.75-.75.75-.192 0-.385-.073-.531-.219l-5.719-5.719-5.719 5.719c-.146.146-.339.219-.531.219-.401 0-.75-.323-.75-.75 0-.192.073-.384.22-.531l5.719-5.719-5.72-5.719c-.146-.147-.219-.339-.219-.532 0-.425.346-.749.75-.749.192 0 .385.073.531.219z"/>
            </svg>
            Supervisor Signature Failed Verification
        </div>
        {% endif %}
        {% endif %}

        {% if valid_server_signature == true %}
        <div class="alert alert-success me-1" role="alert">
            <svg clip-rule="evenodd" fill-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="2"
                 viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path d="m2.25 12.321 7.27 6.491c.143.127.321.19.499.19.206 0 .41-.084.559-.249l11.23-12.501c.129-.143.192-.321.192-.5 0-.419-.338-.75-.749-.75-.206 0-.411.084-.559.249l-10.731 11.945-6.711-5.994c-.144-.127-.322-.19-.5-.19-.417 0-.75.336-.75.749 0 .206.084.412.25.56"
                      fill-rule="nonzero"/>
            </svg>
            Server Signature Verified
        </div>
        {% else %}
        <div class="alert alert-danger me-1" role="alert">
            <svg clip-rule="evenodd" fill-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="2"
                 viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path d="m12 10.93 5.719-5.72c.146-.146.339-.219.531-.219.404 0 .75.324.75.749 0 .193-.073.385-.219.532l-5.72 5.719 5.719 5.719c.147.147.22.339.22.531 0 .427-.349.75-.75.75-.192 0-.385-.073-.531-.219l-5.719-5.719-5.719 5.719c-.146.146-.339.219-.531.219-.401 0-.75-.323-.75-.75 0-.192.073-.384.22-.531l5.719-5.719-5.72-5.719c-.146-.147-.219-.339-.219-.532 0-.425.346-.749.75-.749.192 0 .385.073.531.219z"/>
            </svg>
            Server Signature Failed Verification
        </div>
        {% endif %}
    </div>


    <h3>Supplier Information</h3>
    <p><strong>Name:</strong> {{ data.purchase_order.supplier_name }}</p>
    <p><strong>Contact:</strong> {{ data.purchase_order.supplier_contact }}</p>
    <p><strong>Address:</strong> {{ data.purchase_order.supplier_address }}</p>

    <h3>Items Ordered</h3>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Details</th>
            <th scope="col">Number</th>
            <th scope="col">Quantity</th>
            <th scope="col">Price</th>
            <th scope="col">URL</th>
        </tr>
        </thead>
        <tbody>
        {% for item in items %}
        <tr>
            <th scope="row">{{ loop.index }}</th>
            <td>{{ item.item_details }}</td>
            <td>{{ item.item_number }}</td>
            <td>{{ item.item_quantity }}</td>
            <td>${{ item.item_price }}</td>
            <td><a href="{{ item.item_url }}">Product Link</a></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if status == none and user.user_id == recipient_id %}
    <h3>Action</h3>
    <form action="/review_purchase_order/{{ po_id }}" method="post" id="accept_form" class="mt-3">
        <div class="mb-3">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="accept" id="inlineRadio1" value="true">
                <label class="form-check-label" for="inlineRadio1">Accept</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="accept" id="inlineRadio2" value="false">
                <label class="form-check-label" for="inlineRadio2">Reject</label>
            </div>
        </div>
        <div class="mb-3">
            <label for="purchaser_id" class="form-label">Purchaser</label>
            <select class="form-select" name="purchaser_id" id="purchaser_id" aria-label="Recipient">
                {% for purchaser in purchasers %}
                <option value="{{ purchaser.user_id }}">{{ purchaser.first_name }} {{ purchaser.last_name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="mb-3">
            <label for="accept-password" class="form-label">Your Password</label>
            <input type="password" class="form-control" id="accept-password" name="password" required>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    {% endif %}

</div>
{% endblock %}